<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Custom UI For EVehicle</title>
    <link rel="stylesheet" href="/css/custom-ui.css">
</head>
<body>
<div class="container">
    <div class="lights">
        <h1>Lights</h1>
        <div class="buttons">
            <button class="leftHeadlight">Left Headlight</button>
            <button class="rightHeadlight">Right Headlight</button>
            <button class="leftFrontSignal">Left Front Signal</button>
            <button class="rightFrontSignal">Right Front Signal</button>
            <button class="leftBacklight">Left Backlight</button>
            <button class="rightBacklight">Right Backlight</button>
            <button class="leftRearSignal">Left Rear Signal</button>
            <button class="rightRearSignal">Right Rear Signal</button>
            <button class="leftRearBrake">Left Rear Brake</button>
            <button class="rightRearBrake">Right Rear Brake</button>
        </div>
    </div>
    <div class="security">
        <h1>Security</h1>
        <div class="buttons">
            <button class="running">Running</button>
            <button class="leftDoor">Left Door</button>
            <button class="rightDoor">Right Door</button>
            <button class="leftSafetyBelt">Left Safety Belt</button>
            <button class="rightSafetyBelt">Right Safety Belt</button>
            <button class="leftDoorLock">Left Door Lock</button>
            <button class="rightDoorLock">Right Door Lock</button>
            <button class="trunk">Trunk</button>
            <button class="wiper">Wiper</button>
        </div>
    </div>
    <div class="timer">
        <h1>Timer</h1>
        <div class="data">
            <div class="speed"><strong>Speed:</strong> <span>0</span></div>
            <div class="leftSpeed"><strong>Left Speed:</strong> <span>0</span></div>
            <div class="rightSpeed"><strong>Right Speed:</strong> <span>0</span></div>
            <div class="temperature"><strong>Temperature:</strong> <span>0</span></div>
            <div class="battery"><strong>Battery:</strong> <span>0</span></div>
            <div class="compass"><strong>Compass:</strong> <span>0</span></div>
        </div>
    </div>
</div>
<script src="/js/custom-ui.js" type="module"></script>
</body>
</html>