@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body,
.container {
    background-color: #181818;
    color: #fff;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 0;
}

.container > *:not(:last-child) {
    margin-right: 4rem;
    margin-bottom: 2rem;
}

.lights .buttons {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
}

.security .buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
}

.security .buttons button.running {
    grid-column-start: 1;
    grid-column-end: 3;
}

.timer {
    min-width: 300px;
}

.timer .data {
    font-size: 1.2rem;
    margin-top: 1rem;
}

h1 {
    font-weight: 700;
    font-size: 1.6rem;
}

.buttons {
    margin-top: 1rem;
    display: grid;
    gap: 4px;
}

button {
    background-color: transparent;
    color: #d0d0d0;
    border: 1px solid #d0d0d0;
    padding: .2rem .4rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 9999px;
    cursor: pointer;
    transition: .2s ease-out;
    transition-property: background-color, color, border-color;
}

button:hover {
    background-color: #fff;
    color: #181818;
    border-color: #fff;
}

button.active {
    background-color: #fff;
    color: #181818;
    border-color: #fff;
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}